.item-list,.more-link{
	clear: both;
}
.block-bnmrates ul{
	margin: 0 0 10px 0;	
	border-top: 1px dashed #E1E1E1;
	padding-top: 10px;
	
}
.block-bnmrates ul li {
	list-style-type: none;
	padding: 4px 0 0 0;
	margin: 0 0 0 2px;	
	clear:both;
	border-bottom: 1px dashed #E1E1E1;
	height: 20px;
}

.bnmrates-flag img,.bnmrates-label-nominal,.bnmrates-label-charcode,.bnmrates-label-rate,.bnmrates-label-mdl{
	float:left;	
}

.bnmrates-flag img,.bnm-rates-convertor-item-row img{
	border: none;
	padding: 0;
	vertical-align: middle;
	margin-right:10px;
	width:20px
}

.bnmrates-label-nominal{
	text-align: right;
	width: 24px;
}

.bnmrates-label-charcode{
	text-align: left;
	margin-left: 4px;
	width: 24px;
}

.bnmrates-label-rate{
	text-align: right;	
	width: 70px;
	font-weight: bold;
}
.bnmrates-label-mdl{
	width:30px;
	text-align: right;
}

.bnmrates-clear{
	clear:both;
}

.block-bnmrates div.convertor-link{
	float: left;
}

.block-bnmrates div.all-currencies-link{
	float: right;
}

#bnm-rates-convertor{
	clear: both;
}

#bnmrates-convertor-block-form{
	background: none;
	margin: 0;
	padding: 0;
	border: none;
}

.bnm-rates-convertor-item-row{	
	border-bottom: 1px dashed #E1E1E1;
	padding: 6px 0;
}
.bnm-rates-convertor-item-row div.form-item{
	float:left;
	height:20px;
	margin: 0;
	
}
.bnm-rates-convertor-item-row div.form-item label{
	margin:0;
}

.bnm-rates-convertor-item-row div.form-type-textfield{
	float:right;
}
.bnm-rates-convertor-item-row div.form-item input{
	padding:3px;
}
